<html lang="es" *ngIf="!Mostrar_Pantalla">
  <div class="contenedor1">
    <section class="Botones_Group">
      <button class="boton_atras" routerLink="/inicio" (click)="Ocultar()"><</button>
      <button (click)="calcularMedia(array_elegido)" class="boton_media">Media</button>
      <button  (click)="calcularDesviacion(array_elegido)" class="boton_stddev">Stddev</button>
    </section>

    <section class="Botones_Group2">
      <button (click)="getSize(); cambiarEstadoBoton1()" class="boton_size" [class.boton-activo]="botonActivo1">1a_proxy_size</button>
      <button (click)="getHours(); cambiarEstadoBoton2()" class="boton_hours" [class.boton-activo]="botonActivo2">1a_dev_hours</button>
      <div class="texto">El resultado es:  </div>
      <div class="result">{{resultado}}</div>
    </section>
  </div>

</html>

<router-outlet *ngIf="Mostrar_Pantalla"> </router-outlet>
