<html lang="es" *ngIf="!Mostrar_Pantalla">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>d</title>
  </head>
  <body>
    <main class="contenedor">
      <article class="container">
        <header class="Botones_Group">
          <h1 class="Titulo__calculadora">Testing</h1>
        </header>

        <section class=" Botones_Group">
          <button routerLink="/1a" (click)="Ocultar()">1a</button>
          <button routerLink="/3a" (click)="Ocultar()">3a</button>
          <button>5a</button>

        </section>
      </article>
    </main>
  </body>
</html>

<router-outlet *ngIf="Mostrar_Pantalla"> </router-outlet>

